/matlab/result/kdtree5_1000.m
/matlab/result/raw_descs.m
/matlab/result/raw_frames.m
/matlab/result/vars.m
/matlab/result/vocab4_500.m
/matlab/result/idf.m
/matlab/result/imdb.m
/matlab/result/imgInvidualVisualWords5_1000.m
/matlab/result/invertedIdx.m
/matlab/result/invertedIdx_idf.m
/matlab/result/invertedIdx_idf_l2.m
