html
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet", type="text/css", href="/css/all.css")
    script(src="/js/lib/lib.js")
    script(src="/js/all.js")
  body
    div.popup#popup-result
      div.popup-content
        div.content
          #popup-close-btn X
          div.img-wrapper
            div.col-1.col
              | VL_SIFT 500
            div.col-2.col
              | VL_SIFT 1000
            div.col-3.col
              | VL_COVDET 500
            div.col-4.col
              | VL_COVDET 1000
          div.clear-fix
          div#img-content
            div.img-wrapper
              div.col-1.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-2.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-3.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-4.col
                img.img-item(src="/upload/image-1498429581804.jpg")
            div.img-wrapper
              div.col-1.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-2.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-3.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-4.col
                img.img-item(src="/upload/image-1498429581804.jpg")
            div.img-wrapper
              div.col-1.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-2.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-3.col
                img.img-item(src="/upload/image-1498429581804.jpg")
              div.col-4.col
                img.img-item(src="/upload/image-1498429581804.jpg")
      div.popup-overlay
    div.popup#popup-loading
      div.popup-content
        div.content
          | Loading...
      div.popup-overlay
    div.main-layout
      div.img-area
        div.img-panel#img-panel
          form(id="form_tmp")
          img(id="choosen-img")
          div#overlay
      div.btn-wrapper
        button(id="clear-btn", type="button") Clear!
        input(id="file-btn", type="file")
        button(id="browse-btn", type="button") Browse!
        button(id="query-btn", type="button", disabled="true") Query!
