html
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet", type="text/css", href="/css/all.css")
    script(src="/js/lib/lib.js")
    script(src="/js/all.js")
  body
    div.main-layout
      div.drawing-area
        div.drawing-panel
          canvas#drawing-panel
      div.btn-wrapper
        button(id="query-btn", type="button") Query!
