html
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet", type="text/css", href="/css/all.css")
    script(src="/js/lib/lib.js")
    script(src="/js/all.js")
  body
    div#popup
      div.popup-content
        div.content
          #popup-close-btn X
          div.img-wrapper
            img.img-item(src="/upload/image-1497562871834.jpg")
          div.img-wrapper
            img.img-item(src="/upload/image-1497562871834.jpg")
          div.img-wrapper
            img.img-item(src="/upload/image-1497562871834.jpg")
      div.popup-overlay
    div.main-layout
      div.img-area
        div.img-panel#img-panel
          form(id="form_tmp")
          img(id="choosen-img")
          div#overlay
      div.btn-wrapper
        button(id="clear-btn", type="button") Clear!
        input(id="file-btn", type="file")
        button(id="browse-btn", type="button") Browse!
        button(id="query-btn", type="button", disabled="true") Query!
