@font-face {
  font-family: 'icon-font';
  src: url("./../assets/fontello.ttf") format("truetype"); }

.main-layout {
  margin: 0 auto;
  width: 70%; }

.img-area {
  width: 640px;
  max-width: 100%;
  min-height: 320px;
  margin: 0 auto;
  border: 2px solid black;
  overflow: hidden;
  position: relative; }
  .img-area #choosen-img {
    width: 100%;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none; }
  .img-area #overlay {
    position: absolute;
    display: none;
    box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
    border: 2px dashed black;
    pointer-events: none; }

.img-panel, #img-panel {
  width: 100%; }

div.btn-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  div.btn-wrapper #query-btn, div.btn-wrapper #clear-btn, div.btn-wrapper #browse-btn {
    width: 100px;
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold; }
  div.btn-wrapper #file-btn {
    display: none; }
