@font-face {
  font-family: 'icon-font';
  src: url('./../assets/fontello.ttf') format('truetype');
}


.main-layout {
  margin: 0 auto;
  width: 70%;
}
.popup {
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100%;
  .popup-content {
    margin-top: 20px;
    width: 80%;
    background: white;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    #popup-close-btn {
      border: 2px solid black;
      border-radius: 50% 50%;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 0;
      margin-right: -10px;
      margin-top: -10px;
      text-align: center;
      line-height: 20px;
      background: white;
      cursor: pointer;
    }
    div.clear-fix {
      clear: both;
      width: 100%;
      height: 0;
    }
    .img-wrapper {
      margin-top: 20px;
      img {
        max-width: 100%;
      }
      .col {
        width: 25%;
        text-align: center;
        float: left;
        img {
          max-width: 90%;
        }
      }
    }
  }
  .popup-overlay {
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#popup-loading {
  .popup-content {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: auto;
    padding: 20px;
    border: 2px solid black;
    transform: translate(-50%, -50%);
  }
}
.img-area {
  width: 640px;
  max-width: 100%;
  min-height: 320px;
  margin: 0 auto;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  #form_tmp {
    display: none;
  }
  #choosen-img {
    width: 100%;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
  }
  #overlay {
    position: absolute;
    display: none;
    box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
    border: 2px dashed black;
    pointer-events: none;
  }
}

.img-panel, #img-panel {
  width: 100%;
}

div.btn-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  #query-btn, #clear-btn, #browse-btn {
    width: 100px;
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
  }
  #file-btn {
    display: none;
  }
}
